<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ExampleMapper">
  <insert id="insertJson" parameterType="String">



    INSERT INTO table1 (v) VALUES (#{json})
  </insert>


  <insert id="crtbl" parameterType="String">

    CREATE TABLE IF NOT EXISTS table1 (

       id TEXT PRIMARY KEY ,v TEXT
    )
  </insert>
</mapper>